.desc {
  width: 20rem;
  text-align: justify;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.desc .app {
  color: #6358ee;
  text-shadow: 0px 0px 5px #6358ee;
}

.signal {
  color: #05ac9c;
  text-shadow: 0px 0px 5px #05ac9c;
}

.github a {
  color: white;
}

.pwrd-by {
  margin-bottom: 0.5rem;
}
