.card {
  background: #2d2d30;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  border-radius: 17px;
  background: #1e1e1e;
  box-shadow: 5px 5px 10px #181818, -5px -5px 10px #242424;
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 0px 0px 20px #4b44b6b4;
}

.identifier {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.identifier h3 {
  margin-left: 0.5rem;
}

.identifier img {
  width: 32px;
  height: 32px;
}

.date {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: rgb(202, 202, 202);
}

.change {
  margin-top: 0.5rem;
}

.price {
  display: flex;
  align-items: center;
}

.current-price {
  text-align: right;
}

.bi-caret-down-fill {
  color: #f03e3e;
}

.red {
  color: #f03e3e;
}

.bi-caret-up-fill {
  color: #2f9e44;
}

.green {
  color: #2f9e44;
}

.change-icon {
  margin-left: 0.5rem;
}
