* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1e1e1e;
  background-size: contain;
  font-family: "Inter", sans-serif;
  color: rgb(236, 236, 236);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(238, 238, 238) f;
}
